body {
        background: #F9EAE1;
}

.mainHeader, .articleHeader, .thirthHeader {
        color: #0B3142;
}

.secondHeader {
        color: #0B3142;
}

.paragraph {
        color: #0B3142;
}

.link {
        color: #CC8B86;
}