body {
        background: #f5f5f5;
}

.mainHeader, .articleHeader, .thirthHeader, .paragraph, .secondHeader  {
        color: #141414;
}

.link {
        color: #6EA4BF;
        text-decoration: none;
}