body {
        background: #f5f5f5;
}

.articleHeader, .thirthHeader {
        color: #141414;
}

.box, .boxTwo {
        width: 100px;
        height: 100px;
        background: yellowgreen;
        padding: 10px;
        border: 10px solid red;
        margin: 10px;
        position: absolute;
        top: 25px;
        left: 40%;
}

.cucumber {
        color:
}

.front {
        background-image: url(../homepage/img/front/front3.jpeg);
        height: 450px;
        background-repeat: no-repeat;
        background-position-y: center;
        border-radius: 0 0 3vw 0;
        top: 58px;
}

.italy{
        width: 100%;
        max-width: 700px;
        display: block;
        float: left;
}
.mainHeader {
        color: paleturquoise;
        width: 100%;
        max-width: 800px;
        padding: 30px;
        font-size: 70px;
        height: 300px;
        overflow: hidden;
        min-height: 100%;
        border: 10px palegreen;
}

.mainMenu {
        padding: 20px;
        position: fixed;
        width: 100%;
        background: white;
        top: 0;
        left: 0;
        box-sizing: border-box;
}

.main {
        width: 100%;
        max-width: 800px;
        margin: 32px auto;
}

.link {
        color: paleturquoise;
        text-decoration: none;
}

.paragraph {
        width: 50vw;
        color: #141414;
        margin: 2vw;
}

.secondHeader {
        color: #141414;
}

.top {
        background: paleturquoise;
        padding: 7px;
        text-decoration: none;
        color: white;
        border-radius: 50%;
        position: fixed;
        right: 10px;
        bottom: 10px;
}